@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding:0;
    text-decoration: none;
    font-family: "montserrat";
    list-style: none;
    box-sizing: border-box;
}

/* --------------- slide general automatico ------------ */
.slider-general {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.slide-portada {
    display: flex;
    animation: slider 20s infinite ease-in-out;
    width: 400%;
}
.slider-general li{
    list-style: none;
    width: 100%;
}
.slider-general img{
    border-radius: 0px 0px 400px 0px;
    width: 100%
}
@keyframes slider {
    0%{margin-left: 0%;}
    20% {margin-left: 0%;}

    25%{margin-left: -100%;}
    45% {margin-left: -100%;}

    50%{margin-left: -200%;}
    70% {margin-left: -200%;}

    75%{margin-left: -300%;}
    95% {margin-left: -300%;}

    100% { transform: translateX(0); }
}

.bajada-slider {
    font-style: italic;
    font-size: 0.8em;
    position: absolute;
    bottom: 10px;
    padding-left: 120px;
    bottom: 25px;
}

.pastilla-slider {
    max-width: fit-content;
    width: 100%;
    height: auto;
    background-color: rgba(40, 91, 76, 0.5);
    gap: 5px;
    border-radius: 0px 100px 100px 0px;
    padding-left: 120px;
    padding: 20px 50px 20px 120px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
}

.pastilla-slider p, .pastilla-slider h1, .bajada-slider {
    color: white;
}

/* -------------------------- botonera -------------------------*/
.botonera {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F6EDD9;
    padding: 20px 120px;
    align-items: center;
}

.botonera ul {
    display: flex;
    gap: 60px;
}
.botonera li {
    border-radius: 25px;
    background-color: #285B4C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F6EDD9;
    padding: 10px 15px;
}
.botonera li a{
    color: inherit;
    text-decoration: none;
}
.botonera li:hover {
    background-color:#A0B210;
}

.menu-derecho {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu-derecho input {
    display: none;
}

/* ------------------- estilos de H ------------------- */
h1 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2em;
} /* solo titulo slider general*/

h2 {
    color: #285B4C;
    font-weight: 600;
    font-size: 1.5em;
    padding: 10px 0px;
    padding: 0px 0px 30px 120px;
} /* subtitulos */

h4 {
    font-size: 0.7em;
    color: #F6EDD9;
    font-weight: 500;
} /*footer*/

h4:hover {
    color: #A0B210;
} /*footer*/

h5 {
    font-size: 3em;
} /*titulo + grande*/

h6 {
    font-weight: 600;
    color: #285B4C;
    font-size: 1em;
    line-height: 1.5em;
    padding: 10px 0px;
}

/* ----------------------- BOTONES --------------------*/
.botones-pdf a {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: #285B4C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F6EDD9;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
}

.botones-pdf a:hover {
    background-color: #A0B210;
}

/*------------ CONTENEDOR CREMITA ------------- */
.container{
    display: flex;
    gap: 50px;
    align-items: flex-end;
    margin: 50px 0px;
}

.container-reserva {
    display: flex;
    gap: 50px;
    align-items: flex-end;
    margin: 0;
}

.container-cremita {
    background-color: #F6EDD9;
    max-width: 950px;
    max-height: fit-content;
    border-bottom-right-radius: 100px;
    padding: 30px 50px 30px 120px;
}

.container-cremita h2 {
    padding: 0px 0px 10px 0px;
}

/* ------------------------- WHATSAPP -------------------*/
.btn-flotante{
    z-index: 1;
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    border-radius: 100%;
    border: 15px solid #20B038;
    background-color: #20B038;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animación al pasar el mouse */
.btn-flotante:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

/* ------------------------ INDEX ----------------------*/

/* novedades */
.novedades{
    margin: 0px 120px;
}

.nov-cont {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.cont-izq, .cont-centro, .cont-der {
    display: flex;
    flex-direction: column;
    background-color: #F6EDD9;
    padding: 40px 40px 50px 40px;
    background-color: #F6EDD9;
}

.cont-izq {
    border-radius: 5px 5px 5px 100px;
}

.cont-centro {
    border-radius: 5px 5px 100px 100px;
}

.cont-der {
    border-radius: 5px 5px 100px 5px;
}

.nov-cont-img {
    width: 100%;
    height: auto;
}

p {
    font-size: 1em;
    color: #285B4C;
    font-weight: 400;
    line-height: 1.5em;
}

/* guia de aves-Index / mara */ 
.catalogo-index {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 120px;
}

.catalogo-index .cardcontenedor {
    margin: 0;
    justify-content: space-between;
}

.cards-index {
    display: flex;
    justify-content: space-between;
}

.vermas {
    background-color: #285B4C;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 15px;
    max-width: fit-content;
    align-self: end;
}

.vermas a {
    color: #F6EDD9;
}

.vermas:hover {
    background-color: #A0B210;
}

/*preguntas*/
.preguntas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

details {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: 5px 5px 30px 30px;
    background: #F6EDD9;
    box-shadow: 5px 6px 4px 0px rgba(40, 91, 76, 0.20);
    padding: 15px 20px;
}

summary {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    cursor: pointer;
    justify-content: space-between;
    transition: margin 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

summary h2 , .respuesta h2 , .contenedor-agradecer h2 {
    padding: 0;
}

.flecha-preg {
    background-image: url(img/svg/flecha-preguntas.svg);
    border: none;
    width: 25px;
    height: 15px;
    transition: transform 200ms ;
    background-repeat: no-repeat;
    background-color: #F6EDD9;
    background-size: cover;
}

.respuesta li {
    color: #285B4C;
    font-size: 1em;
    display: flex;
    align-items: baseline;
    gap: 10px;
}
details[open] summary .flecha-preg {
    transform: rotate(180deg);
}
details[open] summary {
    margin-bottom: 10px;
}

/*datos-grid*/
.grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    text-align: center;
    margin: 0px 120px;
}

.grid-pasarelas, .historia, .grid-pajaros, .grid-fotog {
    background-color: #285B4C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.grid-pasarelas h5, .grid-pasarelas p, .grid-fotog h5, .grid-fotog p {
    color: #F6EDD9;
}

.grid-pasarelas, .grid-fotog {
    background-color: #285B4C;
}

.historia, .grid-pajaros{
    background-color: #F6EDD9;
}
.historia h5, .historia p, .grid-pajaros h5, .grid-pajaros p {
    color: #285B4C;
}

.grid-pasarelas {
    border-radius: 5px 5px 100px 0px;
}

.historia {
    border-radius: 5px 5px 0px 100px;
}

.grid-pajaros {
    border-radius: 100px 0px 100px 5px;
}

.grid-fotog {
    border-radius: 0px 100px 5px 100px;
}

.img-1 {
    border-radius: 0px 100px 5px 5px;
    max-width: 100%;
    height: auto;

}

.img-2 {
    border-radius: 100px 0px 5px 5px;
    max-width: 100%;
    height: auto;
}

.img-3 {
    border-radius: 100px 100px 0px 100px;
    max-width: 100%;
    height: auto;
}

.img-4 {
    border-radius: 100px 100px 100px 0px;
    max-width: 100%;
    height: auto;
}

/*frase*/

.frase {
    background-image: url("./img/index/frase.jpg");
    min-height: 960px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase h5 {
    color: #285B4C;
    text-align: center;
}

/* -------------------------- footer ---------------------------- */
footer{
    display: flex;
    width: 100%;
    background-color: #285B4C;
    justify-content: space-between;
    padding: 50px 120px;
    align-items: center;
}

.redes {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px 0px;
}

.redes p {
    color: #F6EDD9;
}

.mapasitio a {
    color: #F6EDD9;
}

.mapasitio a:hover {
    color:#A0B210
}

.mapasitio ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.mapasitio ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.legales {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    font-size: 0.9em;
    color:#F6EDD9;
    font-weight: 400;
}
/*----------------------------------------------------inicio de catálogo parajos*/
.cardcontenedor{
    margin: 100px 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    position: relative;
    width: 360px;
    height: 516px;
    border-radius: 100px 5px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card img {
    width: 360px;
    transition: opacity 1.2s ease, transform 1.2s ease;
}
.card:hover {
    transform: scale(1);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    opacity: 80%;
}
.card__contenido, .card__linea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0; /* Oculto inicialmente */
    transition: background-color 0.6s ease; /* Transición para opacidad y fondo */
}
.card:hover .card__contenido {
    background-color: #f6edd9b6;  /*color de fondo hover*/
    opacity: 1; /* Se muestra lentamente */
}
.card:hover img {
    border-radius: 100px 5px 50px 0px;
    opacity: 100%; /* Imagen se desvanece lentamente */
    transform: scale(1); /* Mantiene el tamaño para evitar cambios bruscos */
}
.card__descripcion {
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #285B4C;
    font-weight: 650;
    align-content: center;
    margin: 25px 0px;
}
.nombrepajaro{
    display: flex;
    width: 360px;
    height: 70px;
    padding: 28px 30px 28px 27px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 50px 0px 5px;
    background-color: #285B4C;
    color: #F6EDD9;
}
.cardpajaros{
    z-index: 10;
}
.nombrelinea{  /*---------------------------------------HOVER SOBRE NOSOTROS*/
    display: flex;
    width: 360px;
    height: 70px;
    padding: 28px 30px 28px 27px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 50px 0px 5px;
    background-color: #f6edd9;
    color: #285B4C;
}
.card__linea{
    color: #f6edd9;
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover .card__linea{
    background-color: #285b4cc2;  /*color de fondo hover*/
    opacity: 1; /* Se muestra lentamente */
}
.banda{  /*------------------------------------------BANDA VERDE*/
    position: absolute;
    width: 100%;
    height: 770px;
    z-index: 0;
}
/*------------------------------------------------------boton audio*/
.toggleSwitch {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    overflow: hidden;
}
.hidden {
    display: none;
}
.bell {
    width: 18px;
}
.bell path {
    fill: #F6EDD9;
}
.speaker {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition-duration: .3s;
}
.speaker svg {
    width: 18px;
}
.mute-speaker {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 3;
    transition-duration: .3s;
}
.mute-speaker svg {
    width: 18px;
}
#checkboxInput:checked +.toggleSwitch .speaker {
    opacity: 0;
    transition-duration: .3s;
}
#checkboxInput:checked +.toggleSwitch .mute-speaker {
    opacity: 1;
    transition-duration: .3s;
}
#checkboxInput:active + .toggleSwitch {
    transform: scale(0.7);
}
/*---------------------------------------------------------fin boton audio*/
.registros p{
    color: #285B4C;
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
    border-radius: 100px;
    background: #F6EDD9;
    width: 50%;
    padding: 10px;
    margin: 40px 0px;
    
}
.registros{
    display: flex;
    justify-content: center;
}

/* -------------------- la-reserva ---------------- */
video {
    border-bottom-right-radius: 400px;
    width: 100%; /*se agrego width por el scroll horizontal*/
}
.ubicacion-recs {
    width: 820px;
    height: 130px;
    background-color: #F6EDD9;
    border-bottom-right-radius: 100px;
    display: flex;
    padding: 5px 50px 5px 120px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.secciones-ubicacion , .mapa-recs , .secciones-circuitos , .secciones-consejos , .secciones-recomendaciones , .novedades ,
.catalogo-index , .preguntas , .grid , .frase {
    padding:90px 0px;
}

.mapa-recs {
    display: flex;
    justify-content: center;
}
.secciones-consejos {
    z-index: 10;
}
.consejos .banda{
    z-index: -1;
}
.secciones-consejos ul {
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
}

.secciones-consejos h2 {
    color: #F6EDD9;
    margin-top: 25px;
}

.secciones-consejos li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.tip-consejo h2 {
    padding: 0;
}

.secciones-recomendaciones {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.contenedor-recomendaciones {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.secciones-recomendaciones h1 {
    padding-left: 120px;
}

.secciones-recomendaciones li {
    color: #285B4C;
    list-style: disc;
    list-style-position: inside;
    line-height: 1.7em
}

.recomendaciones {
    background-color: #F6EDD9;
    width: 750px;
    height: 300px;
    border-bottom-right-radius: 100px;
    padding: 5px 50px 5px 120px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*-----------------------------------------------------------ANTO*/
/*-------------------------------FORMULARIO COA RECS*/
.pajaritoform {
    display: flex;
    position: absolute;
    right: 0;
    padding: 20px;
}
.pajaritoform {
    animation: subirBajar 2s ease-in-out infinite;
}
    /* Animación de subir y bajar */
@keyframes subirBajar {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 170px;
}
.form-titulo{
    color: #285B4C;
    text-align: center;
    padding: 20px 20px 60px 20px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}
form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 1000px;
}
input {
    background-color: #f6edd9a3;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    border: none;
    margin: 10px 0px 40px;
}
.label {
    margin-left: 10px;
    color: #285B4C;
    font-weight: 500;
}
.form-doscolumnas {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}
.columnas-form{
    width: 100%;
}
.submit{
    background-color: #285B4C;
    color: #f6edd9;
    font-weight: 500;
    margin: auto;
    padding: 20px 50px;
    cursor: pointer;
    display: flex;
    max-width: fit-content;
    border-radius: 180px;
}
.submit:active{
    background-color: #A0B210;
    color: #285B4C;
}
/*-------------------------------------SLIDER INFINITO ILUSTRACIONES*/
.slider{
    overflow: hidden;
    padding: 0px;
}
.slider .slide-track{
    display: flex;
    animation: scroll 50s linear infinite;
    width: calc(1000px * 14);
    -webkit-animation: scroll 50s linear infinite;
}
.slider .slide{
    width: 2000px;
    height: 57.2px;
}
.slider .slide img{
    width: 100%;
}
@keyframes scroll{
    0%{
        transform: translate(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px * 7));
        -webkit-transform: translateX(calc(-200px * 7));
    }
}
/*-----------------------------------Fin de SLIDER INFINITO ILUSTRACIONES*/

/* -----------------------------------GALERIA*/
.galeria {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 35px 50px 35px;
}
.g-circuito img {
    border-radius: 40px;
    margin: 20px 12px;
    border: 1px solid #A0B210;
    box-shadow: 0 0 5px #285B4C;
    padding: 20px;
}
.g-circuito img:hover {
    transform: scale(1.1);
}
/* galeria circuitos */
#galeria{
    display: none;
    width: 100%;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
}
/*galeria oculta*/
#galeria-oculta {
    width: 60%;
    max-width: 1200px;
    overflow: hidden;
    z-index: 20;
}
.fraccion-galeria{
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    justify-content: space-around;
}
.contenedor-galeria-p{
    display: flex;
    height: 100%;
    font-size: 2em;
    font-weight: 500;
    align-items: flex-end;
    margin-bottom: 150px;
}
.fraccion-galeria img {
    transition: filter 0.4s ease, transform 0.5s ease;
    cursor: pointer;
}
.fraccion-galeria a:first-child {
    margin-top: 700px;
    margin-right: 10px; /*margen de flecha*/
}
.fraccion-galeria a:last-child {
    margin-top: 700px;
    margin-left: 10px; /*margen de flecha*/
}
.close {
    position: absolute;
    top: 10px;
    right: 2%;
}
.primer-ultima-flecha {
    visibility: hidden;
}
/* imágenes galeria oculta */
#foto-1 {
    background-image: url("img/la-reserva/circuito-humedales.svg");
}
#foto-2 {
    background-image: url("img/la-reserva/circuito-rio.svg");
}
#foto-3 {
    background-image: url("img/la-reserva/circuito-paisajes.svg");
}
#foto-4 {
    background-image: url("img/la-reserva/circuito-grande.svg");
}
.titulo-mapa h2 {
    padding: 50px 0px 50px 120px;
    font-size: 1.5em;
    color: #285B4C;
    font-weight: 700;
}
.item-circuitos {
    display: flex;
    gap: 5px;
    align-items: center;
}
.info-circuitos {
    background-color: #F6EDD9;
    padding: 25px 15px 15px 15px;
    border-radius: 0px 0px 25px 25px;
    width: 100%;
}
.circuitos h2 {
    padding: 0px;
    color: #F6EDD9;
    background-color: #285B4C;
    border-radius: 25px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    position: relative;
    bottom: -15px;
}
/*-----------------------------------------------------------FIN DE GALERIA*/
.agradecer{
    display: inline-flex;
    margin: 50px;
    padding: 28px 187px 58px 187px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 260px 10px 200px 10px;
    background: #F6EDD9;
}
.agradecer h2{
    font-size: 2em;
}
.agradecer p{
    font-size: 1.2em;
}
.contenedor-agradecer{
    display: flex;
    justify-content: center;
}
/* ----------------------------------------------
---------------------------------------------- */
.contenedor-animacion {
    position: relative;
    width: 100px; /* Ajusta el tamaño según necesites */
    height: 100px;
    margin-bottom: 30px;
}

.bird-body {
    position: absolute;
    top: 60px;
    left: 50px;
    width: 100%;
    height: auto;
    animation: float 1s infinite ease-in-out;
}

.bird-wings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    animation: flapping 0.5s infinite step-start; /* Alternancia de alas */
}
.wings-down {
    animation-delay: 0s; /* Alas hacia abajo */
}
.wings-up {
    animation-delay: 0.25s; /* Alas hacia arriba */
    opacity: 0; /* Comienza invisible */
}
@keyframes flapping {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Ajusta la altura del vuelo */
    }
}
.boton-volver{
    margin: 20px;
}
/*-----------------------------------------------------ESTO ES DE ANTO*/

/* --------------------------------------------------SLIDER COMENTARIOS Y AMIGOS COA*/
.slider-comentarios h2{ 
    padding-left: 120px;
    display: flex;
    padding-top: 80px; 
    margin-bottom: 20px; 
}
.slider-comentarios{
    overflow: hidden;
    margin: 50px 0px;
}
.slider-comentarios .slide-track{
    display: flex;
    animation: scroll 50s linear infinite;
    width: calc(1000px * 14);
    -webkit-animation: scroll 50s linear infinite;
    gap: 80px;
    margin-bottom: 80px;
}
@keyframes scroll{
    0%{
        transform: translate(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px * 7));
        -webkit-transform: translateX(calc(-200px * 7));
    }
}
/*-----------------------------------Fin de SLIDER COMENTARIO Y AMIGOS COA*/
/* -------------------------------------------footer*/
footer{
    display: flex;
    width: 100%;
    background-color: #285B4C;
    justify-content: space-between;
    padding: 50px 120px;
    align-items: center;
}
.redes {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px 0px;
}
.redes p {
    color: #F6EDD9;
}
.mapasitio a {
    color: #F6EDD9;
}
.mapasitio a:hover {
    color:#A0B210
}
.mapasitio ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.mapasitio ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}
.legales {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    font-size: 0.9em;
    color:#F6EDD9;
    font-weight: 400;
}



/* LINEA DE TIEMPO */
.linea_de_tiempo{
    background-color: #285B4C;
}
.seccion-linea {
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 120px;
    z-index: 10;
}
.seccion-linea h2 {
    color: #F6EDD9;
    z-index: 10;
}
.seccion-linea ul {
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.seccion-linea h2 {
    color: #F6EDD9;
    margin-top: 25px;
    z-index: 10;
}
.seccion-linea li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #F6EDD9;
    border-radius: 0px 50px 0px 50px;
    justify-content: space-between;
    padding-bottom: 20px;
    z-index: 10;
}
.seccion-linea img{
    border-radius: 0px 50px 0px 50px;
    z-index: 10;
}
.seccion-linea p{
    color:#18322a;
    font-weight: 600;
    font-size: 1em;
    padding: 20px 0px 0px 0px;
    z-index: 10;
}
/*------------- pop up del index ----------- */
/* Checkbox oculto para controlar el pop-up */
#galeria-popup{
    width: 40%;
    justify-content: center;
    align-items: center;
    display: block;
    justify-content: space-evenly;
}
#popup-toggle {
    display: none;
    z-index: 10;
}
.popup-overlay { 
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    transition:  0.3s ease, visibility 0.3s ease;
    background-color: #18322ac2;
}
.popup-index {
    background: #18322a;
    padding: 60px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.popup-index h2 {
    background: #f5f1dc;
    color: #18322a;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.5em;
    margin: 0;
}
.close-popup-index {
    cursor: pointer;
    align-self: end;
    margin-bottom: 10px;
}
.close-popup-index:hover {
    color: #9fb21072;
}
/* Mostrar el overlay cuando tiene la clase 'active' */
.popup-overlay.active {
    opacity: 1;
    visibility: visible;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas, una por día */
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    color: #f5f1dc;
}   
.day-name {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: #b5c7b1;
}
.day {
    text-align: center;
    padding: 10px;
    background-color: #2a4b3d2e;
    border-radius: 4px;
}
.highlight {
    background-color: #A0B210;
    color: #fff;
}
.alert {
    background: #f6edd9;
    color: #ff0000;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
}
.icons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px; 
}
.icon {
    width: 50px; 
    height: 50px;
    background-color: #18322a; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
}



/*--------------------------------------------------------- es de ANTO----------------------------------POP UP ALERTA*/
.alert-toggle {
    display: none;
}
.alert-button img {
    cursor: pointer;
}
.alerta-del-nav {
    display: none;
    position: absolute;
    top: 90px; 
    right: 10px;
    background-color: #18322a; 
    border-radius: 15px;
    padding: 20px 10px;
    width: 320px;
    text-align: center;
    z-index: 10;
}
.alert-box, .horarios-box {
    background-color: #f5f1dc;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}
.alert-box p, .horarios-box p {
    margin: 10px 0;
    color: #18322a;
}
.alert-box .alert-title {
    font-weight: bold;
    color: #d9534f; 
    margin-bottom: 10px;
}
.alert-box p {
    color: #d9534f;
    font-weight: bold; 
}
.horarios-title {
    font-weight: bold;
    color: #18322a; 
    margin-bottom: 10px;
}
/*menú de alerta cuando el checkbox está activado */
.alert-toggle:checked ~ .alerta-del-nav {
    display: block;
}

/*---------------------------------------------------------------------*/
@media only screen and (max-width: 750px) {

    .botonera {
        padding: 20px;
    }

    .menu-derecho {
        display: flex;
        align-items: center;
        gap: 45px;
        justify-content: flex-end;
    }

    .menu-derecho input {
        display: none;
    }

    #menu-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
        height: 100vh;
        background-color: #F6EDD9;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 24%;
        transition: background 0.4s ease;
        z-index: 1;
    }
	#menu-nav li {
		display: flex;
        text-align: center;
        width: 250px;
        justify-content: center;
	}

    #menu-nav li a {      
        font-weight: 600;
    }

    .menu-icon {
		display: block;
		z-index: 1;
		background-image: url(img/svg/menu-hamburguesa.svg);
		background-size: cover;
		width: 33px;
		height: 33px;
		transition: background-image 0.4s ease;
	}

	#menu-toggle:checked + .menu-icon + #menu-nav {
		display: flex;
	}

	#menu-toggle:checked + .menu-icon {
        background-image: url(img/svg/cruz-menu.svg);
        width: 30px;
        height: 30px;
        position: fixed;
        right: 24px;
        z-index: 5;
    }
    /*--------------*/
    .pajaritoform {
        position: static;
        padding: 10px;
        display: flex;
        justify-content: center;
        width: 20%;
    }
    
    .formulario {
        padding: 30px 40px;
        width: 100%;
        box-sizing: border-box;
    }
    
    .form-titulo {
        font-size: 24px;
        padding: 15px;
        line-height: 30px;
    }

    input {
        padding: 15px;
        margin: 8px 0px 20px;
        box-sizing: border-box;
    }

    .form-doscolumnas {
        flex-direction: column;
        gap: 10px;
    }

    .submit {
        padding: 15px 30px;
        font-size: 1em;
        width: auto;
    }

    /* Slider */
    .slider {
        padding: 0;
        width: 100%;
        overflow: hidden;
    }

    .slider .slide-track {
        display: flex;
        animation: scroll 30s linear infinite;
        width: calc(500px * 14);
        box-sizing: border-box;
    }

    .slider .slide {
        width: 100%;
        max-width: 600px;
    }

    .slider .slide img {
        width: 100%;
        height: auto;
        display: block;
    }
    /*--------------*/
    .btn-flotante {
        padding: 15px ;
        background: none ;
        border: none ;
    }
    /*-------------*/
    footer {
        flex-direction: column;
        padding: 30px 20px;
        text-align: center;
    }

    iframe {
        display: none;
    }

    .redes {
        justify-content: center;
        gap: 30px;
    }

    .redes a img {
        width: 45px;
        height: auto;
    }

    .mapasitio ul {
        display: none;
    }

    .mapasitio img {
        width: 20px;
        height: 20px;
    }

    .mapasitio ul li {
        gap: 10px;
        text-align: center;
    }
}







































