@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding:0;
    text-decoration: none;
    font-family: "montserrat";
    list-style: none;
    box-sizing: border-box;
}

.botonera {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F6EDD9;
    padding: 20px 120px;
    align-items: center;
    box-sizing: border-box;
}

.botonera ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

.botonera a {
    border-radius: 25px;
    background-color: #285B4C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F6EDD9;
    padding: 10px 15px;
}

.botonera a:hover {
    background-color:#A0B210;
}

h1 {
    font-size: 2em;
    color: #285B4C;
    font-weight: 700;
}

h4 {
    font-size: 0.7em;
    color: #F6EDD9;
    font-weight: 500;
}

h4:hover {
    color: #A0B210;
}

main {
    padding: 0px 120px;
}

/* novedades */

h6 {
    color: #285B4C;
    font-weight: 600;
    font-size: 1em;
    padding: 10px 0px;;
}

.contenedores {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 40px
}

.cont-izq {
    display: flex;
    flex-direction: column;
    background-color: #F6EDD9;
    border-radius: 5px 5px 5px 100px;
    box-sizing: border-box;
    padding: 40px 40px 50px 40px;
}

.cont-centro {
    display: flex;
    flex-direction: column;
    background-color: #F6EDD9;
    padding: 40px 40px 50px 40px;
    border-radius: 5px 5px 100px 100px;
}

.cont-der {
    display: flex;
    flex-direction: column;
    background-color: #F6EDD9;
    padding: 40px 40px 50px 40px;
    border-radius: 5px 5px 100px 5px;
}

p {
    font-size: 1em;
    color: #285B4C;
    font-weight: 400;
    line-height: 1.5em;
}

footer {
    display: flex;
    width: 100%;
    background-color: #285B4C;
    justify-content: space-between;
    padding: 50px 120px;
    align-items: center;
    box-sizing: border-box;
}

.redes {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px 0px;
}

.redes p {
    color: #F6EDD9;
}

.mapasitio a {
    color: #F6EDD9;
}

.mapasitio a:hover {
    color:#A0B210
}

.mapasitio ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.mapasitio ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.legales {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    font-size: 0.9em;
    color:#F6EDD9;
    font-weight: 400;
}




















































































































































































































































































































































/*inicio de catálogo parajos*/
.card {
    position: relative;
    width: 360px;
    height: 516px;
    border-radius: 100px 5px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card img {
    width: 360px;
    transition: opacity 1.2s ease, transform 1.2s ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    opacity: 80%;
}
.card__contenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0; /* Oculto inicialmente */
    transition: background-color 0.6s ease; /* Transición para opacidad y fondo */
}
.card:hover .card__contenido {
    background-color: #f6edd9b6;  /*color de fondo hover*/
    opacity: 1; /* Se muestra lentamente */
}
.card:hover img {
    border-radius: 100px 5px 50px 0px;
    opacity: 100%; /* Imagen se desvanece lentamente */
    transform: scale(1); /* Mantén el tamaño para evitar cambios bruscos */
}
.card__descripcion {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 1em;
    color: #285B4C;
    font-weight: 500;
    align-content: center;
}
.nombrepajaro{
    display: flex;
    width: 360px;
    height: 70px;
    padding: 28px 30px 28px 27px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 50px 0px 5px;
    background-color: #285B4C;
    color: #F6EDD9;
}
/*boton audio*/
.toggleSwitch {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    overflow: hidden;
}
#checkboxInput {
    display: none;
}
.bell {
    width: 18px;
}
.bell path {
    fill: #F6EDD9;
}
.speaker {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition-duration: .3s;
}
.speaker svg {
width: 18px;
}
.mute-speaker {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 3;
    transition-duration: .3s;
}
.mute-speaker svg {
    width: 18px;
}
#checkboxInput:checked +.toggleSwitch .speaker {
    opacity: 0;
    transition-duration: .3s;
}
#checkboxInput:checked +.toggleSwitch .mute-speaker {
    opacity: 1;
    transition-duration: .3s;
}
#checkboxInput:active + .toggleSwitch {
    transform: scale(0.7);
}
/*fin boton audio*/