@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding:0;
    text-decoration: none;
    font-family: "montserrat";
    list-style: none;
    box-sizing: border-box;
}

/*botonera*/
.botonera {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F6EDD9;
    padding: 20px 120px;
    align-items: center;
}

.botonera ul {
    display: flex;
    gap: 60px;
}

.botonera a {
    border-radius: 25px;
    background-color: #285B4C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F6EDD9;
    padding: 10px 15px;
}

.botonera a:hover {
    background-color:#A0B210;
}

/* estilos de H */
h1 {
    font-size: 1.5em;
    color: #285B4C;
    font-weight: 700;
}

h4 {
    font-size: 0.7em;
    color: #F6EDD9;
    font-weight: 500;
}

h4:hover {
    color: #A0B210;
}

h2 {
    color: #285B4C;
    font-weight: 600;
    font-size: 1em;
    padding: 10px 0px;
}

h3 {
    font-size: 3em;
}

/* novedades */
.novedades{
    margin: 0px 120px;
}

.nov-cont {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.cont-izq, .cont-centro, .cont-der {
    display: flex;
    flex-direction: column;
    background-color: #F6EDD9;
    padding: 40px 40px 50px 40px;
    background-color: #F6EDD9;
}

.cont-izq {
    border-radius: 5px 5px 5px 100px;
}

.cont-centro {
    border-radius: 5px 5px 100px 100px;
}

.cont-der {
    border-radius: 5px 5px 100px 5px;
}

.nov-cont-img {
    width: 100%;
    height: auto;
}

p {
    font-size: 1em;
    color: #285B4C;
    font-weight: 400;
    line-height: 1.5em;
}

/*guia de aves*/
.section-guia{
    display: flex;
    flex-direction: column;
    margin: 0px 120px;
    gap: 20px;
}
.section-guia a {
    display: flex;
    justify-content: center;
    background-color: #285B4C;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F6EDD9;
    padding: 10px 15px;
    max-width: 175px;
}

.section-guia p:hover {
    background-color: #A0B210;
    color: #285B4C;
}

.guiadeaves{
    display: flex;
    justify-content: space-between;
}

.catalogo {
    max-width: 390px;
    height: 516px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 40px 30px 40px;
    color: #285B4C;
    font-weight: 600;
}
.nombre-pajaro{
    display: flex;
    background-color: #285B4C;
    border-radius: 0px 50px 0px 5px;
    justify-content: space-between;
    padding: 10px 40px;
}
.nombre-pajaro h2 {
    color: #F6EDD9;
}

#patocapuchino {
    background-image: url(img/cards-pajaros/pato-capuchino.jpg);
    border-radius: 100px 5px 50px 0px;
}
#colibri {
    background-image: url(img/cards-pajaros/colibri-verde.jpg);
    border-radius: 100px 5px 50px 0px;
}
#hornero{
    background-image: url(img/cards-pajaros/hornero.jpg);
    border-radius: 100px 5px 50px 0px;
}
#benteveo{
    background-image: url(img/cards-pajaros/benteveo.jpg);
    border-radius: 100px 5px 50px 0px;
}

/*preguntas*/

/* foter*/
footer{
    display: flex;
    width: 100%;
    background-color: #285B4C;
    justify-content: space-between;
    padding: 50px 120px;
    align-items: center;
}

.redes {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px 0px;
}

.redes p {
    color: #F6EDD9;
}

.mapasitio a {
    color: #F6EDD9;
}

.mapasitio a:hover {
    color:#A0B210
}

.mapasitio ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.mapasitio ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.legales {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    font-size: 0.9em;
    color:#F6EDD9;
    font-weight: 400;
}
/*inicio de catálogo parajos*/
.cardcontenedor{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.card {
    position: relative;
    width: 360px;
    height: 516px;
    border-radius: 100px 5px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nombrepajaro h3{
    font-family: "Montserrat";
    font-size: 1em;
}
.card img {
    width: 360px;
    transition: opacity 1.2s ease, transform 1.2s ease;
}
.card:hover {
    transform: scale(1);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    opacity: 80%;
}
.card__contenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0; /* Oculto inicialmente */
    transition: background-color 0.6s ease; /* Transición para opacidad y fondo */
}
.card:hover .card__contenido {
    background-color: #f6edd9b6;  /*color de fondo hover*/
    opacity: 1; /* Se muestra lentamente */
}
.card:hover img {
    border-radius: 100px 5px 50px 0px;
    opacity: 100%; /* Imagen se desvanece lentamente */
    transform: scale(1); /* Mantén el tamaño para evitar cambios bruscos */
}
.card__descripcion {
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #285B4C;
    font-weight: 500;
    align-content: center;
}
.nombrepajaro{
    display: flex;
    width: 360px;
    height: 70px;
    padding: 28px 30px 28px 27px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 50px 0px 5px;
    background-color: #285B4C;
    color: #F6EDD9;
}
/*boton audio*/
.toggleSwitch {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    overflow: hidden;
}
#checkboxInput {
    display: none;
}
.bell {
    width: 18px;
}
.bell path {
    fill: #F6EDD9;
}
.speaker {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition-duration: .3s;
}
.speaker svg {
width: 18px;
}
.mute-speaker {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 3;
    transition-duration: .3s;
}
.mute-speaker svg {
    width: 18px;
}
#checkboxInput:checked +.toggleSwitch .speaker {
    opacity: 0;
    transition-duration: .3s;
}
#checkboxInput:checked +.toggleSwitch .mute-speaker {
    opacity: 1;
    transition-duration: .3s;
}
#checkboxInput:active + .toggleSwitch {
    transform: scale(0.7);
}
/*fin boton audio*/
/*datos-grid*/
.grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    text-align: center;
    margin: 50px 120px 50px 120px;
}

.grid-pasarelas, .historia, .grid-pajaros, .grid-fotog {
    background-color: #285B4C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.grid-pasarelas h3, .grid-pasarelas p, .grid-fotog h3, .grid-fotog p {
    color: #F6EDD9;
}

.grid-pasarelas, .grid-fotog {
    background-color: #285B4C;
}

.historia, .grid-pajaros{
    background-color: #F6EDD9;
}
.historia h3, .historia p, .grid-pajaros h3, .grid-pajaros p {
    color: #285B4C;
}

.grid-pasarelas {
    border-radius: 5px 5px 100px 0px;
}

.historia {
    border-radius: 5px 5px 0px 100px;
}

.grid-pajaros {
    border-radius: 100px 0px 100px 5px;
}

.grid-fotog {
    border-radius: 0px 100px 5px 100px;
}

.img-1 {
    border-radius: 0px 100px 5px 5px;
    max-width: 100%;
    height: auto;

}

.img-2 {
    border-radius: 100px 0px 5px 5px;
    max-width: 100%;
    height: auto;
}

.img-3 {
    border-radius: 100px 100px 0px 100px;
    max-width: 100%;
    height: auto;
}

.img-4 {
    border-radius: 100px 100px 100px 0px;
    max-width: 100%;
    height: auto;
}

/*frase*/

.frase {
    background-image: url("./img/index/frase.jpg");
    min-height: 960px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase h3 {
    color: #285B4C;
    text-align: center;
}

/* la-reserva*/

.pastilla-slider {
    width: 570px;
    height: 120px;
    background-color: rgba(40, 91, 76, 0.50);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    gap: 5px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 40px;
}

.bajada-slider {
    font-style: italic;
    font-size: 0.8em;
    color: white;
    position: absolute;
    bottom: 10px;
    padding-left: 120px;
}

.pastilla-slider p {
    color: white;
}

.pastilla-slider h1 {
    color: white;
}

video {
    border-bottom-right-radius: 400px;
}

.ubicacion-recs {
    width: 820px;
    height: 130px;
    background-color: #F6EDD9;
    border-bottom-right-radius: 100px;
    display: flex;
    padding: 5px 50px 5px 120px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.secciones-ubicacion h1 {
    padding-left: 120px;
}

.secciones-ubicacion , .mapa-recs , .secciones-circuitos , .secciones-consejos , .secciones-recomendaciones {
    padding: 60px 0px;
}

.mapa-recs {
    display: flex;
    justify-content: center;
}

.circuitos {
    display: flex;
    flex-direction: column;
}

.secciones-circuitos {
    padding: 120px;
    display: flex;
    flex-direction: column;
}

.contenedor-circuitos {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.item-circuitos {
    display: flex;
    gap: 5px;
    align-items: center;
}

.info-circuitos {
    background-color: #F6EDD9;
    padding: 25px 15px 15px 15px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.circuitos h2 {
    color: #F6EDD9;
    background-color: #285B4C;
    border-radius: 25px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    position: relative;
    bottom: -15px;
}

.secciones-consejos {
    background-image: url('img/la-reserva/fondo-onda-verde.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px;
}

.secciones-consejos h1 {
    color: #F6EDD9;
}

.secciones-consejos ul {
    display: flex;
    justify-content: space-between;
}

.secciones-consejos h2 {
    color: #F6EDD9;
    margin-top: 25px;
}

.secciones-consejos li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.secciones-recomendaciones {
    display: flex;
    flex-direction: column;
    padding-right: 120px;
}

.contenedor-recomendaciones {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.secciones-recomendaciones h1 {
    padding-left: 120px;
}

.secciones-recomendaciones li {
    color: #285B4C;
    list-style: disc;
    list-style-position: inside;
    line-height: 1.7em
}

.recomendaciones {
    background-color: #F6EDD9;
    width: 750px;
    height: 300px;
    border-bottom-right-radius: 100px;
    padding: 5px 50px 5px 120px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botones-recomendaciones a {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: #285B4C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F6EDD9;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
}

.botones-recomendaciones a:hover {
    background-color: #A0B210;
}

